<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
					<!-- OJO: ver si cambiar letras por logo en imagen -->
						<h1><a href="index.html">Wepa la Pepa Campestre (mejor un logo)</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<!-- <li>
									<a href="">Menú Desplegable</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Opción 1</a></li>
										<li><a href="#">Opción 2</a></li>
										<li>
											<a href="">Opción 3</a>
											<ul>
												<li><a href="#">Opción 3.1</a></li>
												<li><a href="#">Opción 3.2</a></li>
												<li><a href="#">Opción 3.3</a></li>
												<li><a href="#">Opción 3.4</a></li>
												<li><a href="#">Opción 3.5</a></li>
											</ul>
										</li>
										<li><a href="#">Opción 4</a></li>
									</ul>
								</li>
							-->
								<!-- OJO: asignar links a páginas -->
								<li><a href="{{ site.baseurl }}"">Dormir</a></li>
								<li><a href="{{ site.baseurl }}">Comer</a></li>
								<li><a href="{{ site.baseurl }}">El lugar</a></li>
								<li><a href="{{ site.baseurl }}">Reservas</a></li>
								<li><a href="{{ site.baseurl }}">Cómo llegar</a></li>
								<!--
								<li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
							-->
							</ul>
						</nav>

					<!-- Banner -->
					<!-- OJO: Esta es la imagen del landing y su texto -->
					<!-- OJO: asignar opciones de imagen en style.css -->
						<section id="banner">
							<header>
								<h2>Un espacio aparte.</h2>
								<p>Dormir, comer, descansar. Usted decide.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-bug"></i>
										<header>
											<h2>Link 1</h2>
										</header>
										<p>OJO Descripción</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Link 2</h2>
										</header>
										<p>OJO Descripción</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Link 3</h2>
										</header>
										<p>OJO Descripción</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">OJO Botón rosado</a></li>
									<li><a href="#" class="button alt big">OJO Botón gris</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>