<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
					<!-- OJO: ver si cambiar letras por logo en imagen -->
						<h1><a href="index.html">Wepa la Pepa Campestre</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<!-- <li>
									<a href="">Menú Desplegable</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Opción 1</a></li>
										<li><a href="#">Opción 2</a></li>
										<li>
											<a href="">Opción 3</a>
											<ul>
												<li><a href="#">Opción 3.1</a></li>
												<li><a href="#">Opción 3.2</a></li>
												<li><a href="#">Opción 3.3</a></li>
												<li><a href="#">Opción 3.4</a></li>
												<li><a href="#">Opción 3.5</a></li>
											</ul>
										</li>
										<li><a href="#">Opción 4</a></li>
									</ul>
								</li>
							-->
								<!-- OJO: asignar links a páginas -->
								<li><a href="{{ site.baseurl }}/dormir.html">Dormir</a></li>
								<li><a href="{{ site.baseurl }}/comer.html">Comer</a></li>
								
								<li><a href="{{ site.baseurl }}/reservas.html">Reservas</a></li>
								<li><a href="{{ site.baseurl }}/mapa.html">Cómo llegar</a></li>
								<!--
								<li><a href="{{ site.baseurl }}">El lugar</a></li>
								<li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
							-->
							</ul>
						</nav>

					<!-- Banner -->
					<!-- OJO: Esta es la imagen del landing y su texto -->
					<!-- OJO: asignar opciones de imagen en style.css -->
						<section id="banner">
							<header>
								<h2>Un espacio aparte.</h2>
								<p>Dormir, comer, descansar. ¿Qué buscas?</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<a class="icon featured fa-bed" href="{{ site.baseurl }}/dormir.html"> ></a>
										<header>
											<h2>Dormir</h2>
										</header>
										<p>Descansa y disfruta de la tranquilidad</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<a class="icon featured alt fa-cutlery" href="{{ site.baseurl }}/comer.html"></a>
										<header>
											<h2>Comer</h2>
										</header>
										<p>Goza y prueba nuevos sabores</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<a class="icon featured alt2 fa-location-arrow" href="{{ site.baseurl }}/mapa.html"></a>
										<header>
											<h2>¿Cómo llegar?</h2>
										</header>
										<p>Conoce la mejor ruta para tu escape</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/reservas.html" class="button big">Reservas</a></li>
									<li><a href="mailto:info@wepalapepacampestre.com" class="button alt big">Contáctanos</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>