<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">Wepa la Pepa Campestre</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
							<!-- 
							<li>
									<a href="">Menú Desplegable</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Opción 1</a></li>
										<li><a href="#">Opción 2</a></li>
										<li>
											<a href="">Opción 3</a>
											<ul>
												<li><a href="#">Opción 3.1</a></li>
												<li><a href="#">Opción 3.2</a></li>
												<li><a href="#">Opción 3.3</a></li>
												<li><a href="#">Opción 3.4</a></li>
												<li><a href="#">Opción 3.5</a></li>
											</ul>
										</li>
										<li><a href="#">Opción 4</a></li>
									</ul>
								</li>
							-->
								<!-- OJO: asignar links a páginas -->
								<li><a href="{{ site.baseurl }}">Dormir</a></li>
								<li><a href="{{ site.baseurl }}">Comer</a></li>
								<li><a href="{{ site.baseurl }}">El lugar</a></li>
								<li><a href="{{ site.baseurl }}">Reservas</a></li>
								<li><a href="{{ site.baseurl }}">Cómo llegar</a></li>
								<!--
						{% assign current = page.url | downcase | split: '/' %}
						<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
						<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
						<li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
					-->
					</ul>
				</nav>
<!-- OJO: cambiar esta imagen -->
				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>

		</div>
	</div>